**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/*.md
**/*.swp*
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.prettierignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/Dockerfile*
**/azds.yaml
**/bitbucket-pipelines.yml
**/charts
**/compose*
**/docker-compose*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/service.yaml
.prettierrc.yml
docker-compose.yml
node_modules
