.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10vh;
}

.App-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Body {
  padding: 2vh;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
}

.Credits {
  padding-top: 50px;
  font-size: small;
}

ul .error {
  list-style-type: none;
}

.error {
  color: red;
  font-size: small;
}
